/* Webfont: Bariol Regular */@font-face {
    font-family: 'Bariol Regular';
    src: url('../fonts/Bariol_Regular.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Bariol Regular Italic */@font-face {
    font-family: 'Bariol Regular Italic';
    src: url('../fonts/Bariol_Regular_Italic.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
