#carouselExampleIndicators2 .carousel-indicators {
	display: initial;
	text-align: center;
	right: 20px;
    top: 20%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0;
    padding: 0;
}
#carouselExampleIndicators2 .carousel-indicators li{
	display: block;
	width: 10px!important;
	height: 10px!important;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: transparent!important;
	margin: 5px 0;
}
#carouselExampleIndicators2 .carousel-indicators .active {
	width: 12px!important;
	height: 12px!important;
	background-color: #fff!important;
}
#carouselExampleIndicators2 .carousel-caption {
    position: relative;
    left: 0;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}



#carouselExampleIndicators .carousel-indicators {
	position: relative;
	z-index: 15;
	width: 30px;
	margin: 0 auto;
	right: 5%;
	bottom: 0;
    top: 0.5rem;
}
#carouselExampleIndicators .carousel-indicators li{
	display: block;
	width: 10px!important;
	height: 10px!important;
    border-radius: 6px;
    background-color: #656565!important;
}
#carouselExampleIndicators .carousel-indicators .active {
	background-color: #6cc372!important;
}

/* 
#carouselExampleControls .carousel-indicators {
	position: relative;
	z-index: 15;
	width: 30px;
	margin-left: 48%;
	right: 5%;
	bottom: 0;
    top: 40px;
}
#carouselExampleControls .carousel-indicators li{
	display: block;
	width: 10px!important;
	height: 10px!important;
    border-radius: 6px;
    border: 1px solid rgba(6, 32, 51, 0.2);
    background-color: transparent!important;
}
#carouselExampleControls .carousel-indicators .active {
	background-color: rgba(6, 32, 51, 1)!important;
} */