/*****     MAIN     STYLE       *****/


body {
	font-family: "Bariol Regular";
}

a:focus, a:hover {
	text-decoration: none;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

ul {
	list-style: none;
}

/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT HEADER   ****/


#header{
	background-color: #eb4f4e;
	width: 100%;
	color: #fff;
	height: 100%;
}

#menu {
	background: url(images/menuBackground2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}
#menu .navbar {
	width: 100%;
}

#logo {
	width: 26%;
}

#logo a span {
	font-size: 35px;
	font-style: normal;
	text-shadow: 0px 1px 0px #c34b2a;
	color: #fff;
}

#logo a p {
	font-size: 16px;
	margin-top: -1.5rem;
	color: #fff;
}

#navigation a {
	font-family: "Arial";
	font-size: 16px;
    font-weight: bold;
	color: #fff;
    padding: 0.25rem 0.75rem;
}

#menu .navbar-light #navigation .navbar-nav .active > .nav-link, 
#menu #navigation a:hover, #navigation a:focus {
	background-color: #000;
	border-radius: 0.3rem;
}

#headerText {
    min-height: 690px;
    padding: 380px 0 0;
	color: #fff;
	text-shadow: 0px 1px 0px #c34b2a;
}

#slidetext1 {
	font-size: 28px;
}

#slidetext2 {
	font-size: 14px;
}

#header .carousel-control-next {
    left: 97%;
}

#header .carousel-control-prev {
    left: -1%;
}

#header .carousel-control-prev, #header .carousel-control-next {
    position: absolute;
    width: 4%;
}

#header .carousel-control-next-icon, #header .carousel-control-prev-icon {
	width: 30px;
    height: 30px;
	background: none;
	font-family: 'fontawesome';
	font-size: 60px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
}

#header .carousel-control-next-icon:before {
    content: "\f105";
}

#header .carousel-control-prev-icon:before {
    content: "\f104";
}

@media screen and (min-width: 578px) {
	#slidetext1 {
		font-size: 60px;
		letter-spacing: 5px;
	}

	#slidetext2 {
		font-size: 20px;
	}
}

/****	FIN  HEADER   ****/

/***** DEBUT MERITS   ****/

#merits {
	background-color: #232324;
	padding-top: 2rem;
	padding-bottom: 1rem;
	color: #fff;
}

#meritsTitle h3 {
	font-size: 23px;
	font-weight: bold;
    letter-spacing: 5px;
}

#meritsTitle p {
	font-size: 12px;
	color: #d94948;
    letter-spacing: 0.05rem;
}

.meritsBlocksTitle {
	font-size: 20px;
}

.meritsBlocksDescription {
	font-size: 14px;
	color: #e74c3c;
	line-height: 1.3rem;
}

@media screen and (min-width: 578px) {
	#meritsTitle h3 {
		font-size: 40px;
	}

	#meritsTitle p {
		font-size: 20px;
	}
	
	.meritsBlocksTitle {
		font-size: 30px;
	}
	
	.meritsBlocksDescription {
		font-size: 18px;
		padding: 0 1rem;
	}
}

/****	FIN  MERITS   ****/

/***** DEBUT TEAM   ****/

#team {
	background-color: #6cc372;
	padding-top: 2rem;
	padding-bottom: 1rem;
	color: #fff;
}

#teamTitle h3, #portfolioTitle h3, .pricingPlansTitle h3 {
	font-size: 40px;
	font-weight: bold;
    letter-spacing: 5px;
}

#teamTitle p, #portfolioTitle p, .pricingPlansTitle p {
	font-size: 20px;
	color: #232324;
    letter-spacing: 0.05rem;
}

.teamBlocks {
	background-color: #fff;
	border-radius: 0.5rem;
}

.teamMemberName {
	color: #61af66;
	font-size: 25px;
	text-shadow: 0px 1px 0px #fff;
}

.teamMemberFonction {
	color: #e74c3c;
	font-size: 18px;
	text-shadow: 0px 1px 0px #fff;
}

.follow, .follow:hover {
	font-family: "Bariol Regular";
	font-size: 25px;
	background-color: #6cc372;
	border: none;
	width: 90%;
    letter-spacing: 2px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.teamBlocks img {
		max-width: 130px;
		width: 100%;
	}
}

/****	FIN  TEAM   ****/

/***** DEBUT PORTFOLIO   ****/

#portfolio {
	background-color: #f0f0f0;
	padding-top: 2rem;
	padding-bottom: 12rem;
	color: #000;
}

#portfolioTitle h3 {
	color: #616161;
}

#portfolioTitle p {
	color: #61af66;
}

.portfolioSubtitle {
	font-size: 21px;
	color: #232324;
}

#portfolio .carousel-control-next {
    left: 101%;
}

#portfolio .carousel-control-prev {
    left: -5%;
}

#portfolio .carousel-control-prev, #portfolio .carousel-control-next {
    position: absolute;
    width: 3%;
}

#portfolio .carousel-control-next-icon, #portfolio .carousel-control-prev-icon {
	width: 30px;
    height: 30px;
	background: none;
	color: #6cc372;
	font-family: 'fontawesome';
	font-size: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
}

#portfolio .carousel-control-next-icon:before {
    content: "\f105";
}

#portfolio .carousel-control-prev-icon:before {
    content: "\f104";
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	#portfolio {
		padding-bottom: 14.5rem;
	}
}

/****	FIN  PORTFOLIO   ****/

/***** DEBUT PRICING   ****/

#pricing {
	border-top: 1px solid rgba(0, 0, 0, 0.125);
}
#pricingPlans {
	width: 93%;
	margin: 0 auto;
}

#pricingPlans .list-group-item {
	border-left: 0;
    border-right: 0;
}

#pricingPlans .list-group-item:first-child {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
	border-top: 0;
}

#pricingPlan1, #pricingPlan2, #pricingPlan3 {
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.06);
}

#pricingPlan1 {
    margin-top: -134px;
}

#pricingPlan3, #pricingPlan2 {
    margin-top: 10px;
}

.pricingPlansTitle h3 {
	font-size: 30px;
	color: #616161;
    font-weight: normal;
	word-break: break-word;
}

.pricingPlansTitle p {
	color: #eb4f4e;
	font-size: 18px;
}

#pricingPlan2 .pricingPlansTitle h3 {
	color: #eb4f4e;
}

#pricingPlan2 .pricingPlansTitle p {
	color: #232324;
}

.pricingPlanInfos {
	background-color: #f0f0f0;
	font-size: 18px;
	color: #616161;
    letter-spacing: 0.05rem;
}

#pricingPlans .pricingPlansFoot {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
	border-bottom: 0;
	border-top: 1px solid #fff;
	padding: 0 1rem;
	background-color: #616161;
	color: #fff;
}

.pricingPlansFoot .dollar {
	font-family: "Myriad Pro Semibold";
    font-size: 32.12px;
}

.pricingPlansFoot .number {
	font-family: "Myriad Pro";
    font-size: 64.23px;
    font-weight: bold;
}

.pricingPlansFoot p {
	font-family: "Myriad Pro Regular";
    font-size: 24.98px;
}

.pricingPlansFoot .badge-pill {
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 0.2rem;
    background-color: #fff;
    font-size: 21px;
    letter-spacing: 0.06rem;
}

#wheel {
	position: absolute;
    color: #eb4f4e;
    top: 90%;
    z-index: 9;
    width: 80%;

}

#pricingPlans #pricingPlan2 .pricingPlansFoot {
	background-color: #eb4f4e;
}

#pricingPlans #pricingPlan2 .badge-pill a {
	color: #eb4f4e;
}

.more, .more a {
	color: #eb4f4e;
	font-size: 20px;
	padding: 1.5rem 0;
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	#pricingPlan1, #pricingPlan3 {
		margin-top: -133px;
	}
	
	#pricingPlan2 {
		margin-top: -205px;
	}

	.pricingPlansTitle p {
		font-size: 16px;
	}
	
	.pricingPlanInfos {
		font-size: 14px;
	}
	
	#wheel {
		top: 92%;
		width: 70%;
	}
}

@media screen and (min-width: 578px) and (max-width: 991px) {
	.pricingPlansTitle h3, #pricingPlan2 .pricingPlansTitle h3 {
		font-size: 20px;
		font-weight: bold;
	}
	
	.pricingPlansFoot p {
		font-size: 16.98px;
	}
	
	.pricingPlansFoot .dollar {
		font-size: 22.12px;
	}
	
	.pricingPlansFoot .number {
		font-size: 44.23px;
	}
	
	.pricingPlansFoot .badge-pill {
		padding-right: .5em;
		padding-left: .5em;
		font-size: 16px;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#pricingPlan1, #pricingPlan3 {
		margin-top: -84px;
	}
	
	#pricingPlan2 {
		margin-top: -105px;
	}

	.pricingPlansTitle h3, #pricingPlan2 .pricingPlansTitle h3 {
		word-break: normal;
	}
	
	.pricingPlansTitle p {
		font-size: 14px;
	}
	
	#wheel {
		top: 86%;
		width: 80%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#pricingPlan1, #pricingPlan3 {
		margin-top: -105px;
	}
	
	#pricingPlan2 {
		margin-top: -132px;
	}

	.pricingPlansTitle h3 {
		font-size: 34px;
	}
	
	.pricingPlansFoot .dollar {
		font-size: 30.12px;
	}
	
	.pricingPlansFoot .number {
		font-size: 58.23px;
	}
}

@media screen and (min-width: 992px) {
	.pricingPlansTitle h3 {
		word-break: normal;
	}
	
	#wheel {
		top: 89%;
		width: 88%;
	}
}

@media screen and (min-width: 1200px) {
	#pricingPlan1, #pricingPlan3 {
		margin-top: -115px;
	}
	
	#pricingPlan2 {
		margin-top: -145px;
	}

	.pricingPlansTitle h3 {
		font-size: 40px;
	}
	
	.pricingPlansTitle p {
		font-size: 20px;
	}
	
	.pricingPlansFoot .dollar {
		font-size: 32.12px;
	}
	
	.pricingPlansFoot .number {
		font-size: 64.23px;
	}
}

/****	FIN  PRICING   ****/

/***** DEBUT TWEETS   ****/



/****	FIN  TWEETS   ****/

/***** DEBUT FOOTER   ****/



/****	FIN  FOOTER   ****/
